@model IEnumerable<LogisticSoftware.WebUI.Models.Entities.Driver>

@{
    ViewBag.Title = "Водії";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <header>
        <h2>Водії</h2>

        <p>
            @Html.ActionLink("Додати нового водія", "Create")
        </p>
    </header>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "Edit", new {id = item.DriverId}) |
                    @Html.ActionLink("Переглянути", "Details", new {id = item.DriverId}) |
                    @Html.ActionLink("Видалити", "Delete", new {id = item.DriverId})
                </td>
            </tr>
        }

    </table>
</div>