@model LogisticSoftware.WebUI.Models.Entities.Places.PlaceOnTheRoute

@{
    ViewBag.Title = "Видалення місця на маршруті";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <header>
        <h2>Видалення місця на маршруті</h2>

        <h3>Ви впевнені, що хочете видалити місце з маршруту?</h3>
    </header>
    <div>
        @Html.DisplayFor(model => model.Supply.Target)
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Place.PlaceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Place.PlaceName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Видалити" class="btn btn-default"/> |
                @Html.ActionLink("Повернтуись до списку", "Index", "PlaceOnTheRoutes", new {id = Model.SupplyId}, null)
            </div>
        }
    </div>
</div>
