@model LogisticSoftware.WebUI.Models.Entities.User

@{
    ViewBag.Title = "Видалення користувача";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <header>
        <h3>Ви впевені, що хочете видалити цього користувача?</h3>
    </header>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Видалити" class="btn btn-default"/> <br/>
                <hr/>
                @Html.ActionLink("Вернутись до списку користувачів", "Index")
            </div>
        }
    </div>
</div>