@model LogisticSoftware.WebUI.Models.Entities.Places.Place

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
            var geocoder;
            var map;

            function initialize() {
                geocoder = new google.maps.Geocoder();
                var mapOptions = {
                    center: new google.maps.LatLng(49, 31.5),
                    zoom: 6,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("map_canvas"),
                    mapOptions);

                
            }

            function codeAddress() {
                var address = document.getElementById('Address').value;
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setZoom(15);
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            draggable:true,
                            position: results[0].geometry.location
                        });
                        pos = results[0].geometry.location;
                        lat = document.getElementById('Latitude');
                        lng = document.getElementById('Longitude');
                        lat.value = pos.lat();
                        lng.value = pos.lng();
                        google.maps.event.addListener(marker, 'dragend', function () {
                            var pos = marker.getPosition();
                            lat = document.getElementById('Latitude');
                            lng = document.getElementById('Longitude');
                            lat.value = pos.lat();
                            lng.value = pos.lng();

                        });
                    } else {
                        alert('Не вдалось знайти вказане місце на карті: ' + status);
                    }
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="content">
    <header>
        <h2>@ViewBag.Title</h2>
    </header>
    <div class="lefted">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                <div class="form-group">
                    @Html.LabelFor(model => model.PlaceName, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PlaceName, new {htmlAttributes = new {@class = "form-control"}})
                        <br/>
                        @Html.ValidationMessageFor(model => model.PlaceName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control"}})
                        <br />
                        @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
                    </div>
                </div>

                <input type="button" value="Знайти на карті" onclick="codeAddress()">

                <input id="Latitude" name="Latitude" type="hidden" value=""><br />
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })<br />
                <input id="Longitude" name="Longitude" type="hidden" value="">
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Додати" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Повернутись до списку", "Index")
        </div>
    </div>
    
    <div id="map_canvas" style="width: 900px; height: 560px; float: right;"></div>
</div>