@model LogisticSoftware.WebUI.Models.Entities.Places.Place

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <header>
        <h2>@ViewBag.Title</h2>
    </header>
    <div class="lefted">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PlaceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlaceName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Редагувати", "Edit", new { id = Model.MapPointId })
        </p>
        <br />
        <p>
            @Html.ActionLink("Вернтуись до списку", "Index")
        </p>
    </div>


    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(@Model.Latitude, @Model.Longitude),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
                mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(@Model.Latitude, @Model.Longitude),
                map: map,
                title: '@Model.PlaceName'
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map_canvas" style="width: 800px; height: 500px; float: right;"></div>
</div>