@model LogisticSoftware.WebUI.Models.Entities.Vehicle

@{
    ViewBag.Title = "Транспортний засіб";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <header>
        <h2>Транспортний засіб</h2>
    </header>
    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Driver.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Driver.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FuelType.FuelName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FuelType.FuelName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Garage.PlaceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Garage.PlaceName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegistrationNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModelName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModelName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastInspection)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastInspection)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WeightCapacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WeightCapacity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrunkSize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrunkSize)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редагувати", "Edit", new {id = Model.VehicleId}) |
        @Html.ActionLink("Повернутись до списку", "Index")
    </p>
</div>