<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAFmKUPYnoLDxmJD5-jhOBoB5SbPwgGNws&sensor=false">
    </script>
</head>
<body>
<header>
    <div id="exit">
        @Html.ActionLink("Вийти", "Logout", "Account")
    </div>
    
    <ul id="nav">
        <li>
            @Html.ActionLink("Логістика", "Index", "CurrentState")
            <ul>
                <li>@Html.ActionLink("Поставки", "Index", "Supplies")</li>
                
            </ul>
        </li>
        <li>
            @Html.ActionLink("Місця", "Index", "AllUsers")
            <ul>
                <li>@Html.ActionLink("Виробничі потужності", "Index", "AllUsers")</li>

                <li>@Html.ActionLink("Постачальники", "Index", "Suppliers")</li>
                <li>@Html.ActionLink("Покупці", "Index", "Customers")</li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Управління автопарком", "Index", "Vehicles")
            <ul>
                <li>@Html.ActionLink("Гаражі", "Index", "Vehicles")</li>
                <li>@Html.ActionLink("Транспортні засоби", "Index", "Vehicles")</li>
                <li>@Html.ActionLink("Водії", "Index", "Drivers")</li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Адміністрування", "Index", "Vehicles")
            <ul>
                <li>@Html.ActionLink("Користувачі", "Index", "Vehicles")</li>
            </ul>
        </li>
    </ul>
    
</header>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
