<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Reset.css" type="text/css" rel="stylesheet"/>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAFmKUPYnoLDxmJD5-jhOBoB5SbPwgGNws&sensor=false&language=uk">
    </script>
</head>
<body>
<header>
    <div id="exit">
        @Html.ActionLink("Вийти", "Logout", "Account")
    </div>
    
    <ul id="nav">
        <li>
            @Html.ActionLink("Поставки", "Index", "Supplies")
        </li>
        <li>
            @Html.ActionLink("Треті сторони", "Index", "Factories")
            <ul>
                <li>@Html.ActionLink("Постачальники", "Index", "Suppliers")</li>
                <li>@Html.ActionLink("Покупці", "Index", "Customers")</li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Компанія", "Index", "Factories")
            <ul>
                <li>@Html.ActionLink("Виробничі потужності", "Index", "Factories")</li>
                <li>@Html.ActionLink("Склади", "Index", "Warehouses")</li>
                <li>@Html.ActionLink("Ферми", "Index", "Farms")</li>
                <li>@Html.ActionLink("Зерносховища", "Index", "Granaries")</li>
                <li>@Html.ActionLink("Поля", "Index", "Fields")</li>
            </ul>
        </li>
        <li>

            @Html.ActionLink("Управління автопарком", "Index", "Vehicles")
            <ul>
                <li>@Html.ActionLink("Гаражі", "Index", "Garages")</li>
                <li>@Html.ActionLink("Транспортні засоби", "Index", "Vehicles")</li>
                <li>@Html.ActionLink("Водії", "Index", "Drivers")</li>
            </ul>
        </li>
        @if (HttpContext.Current.User.Identity.Name == "admin")
        {
            <li>
                @Html.ActionLink("Користувачі", "Index", "Users")
            </li>
        }
    </ul>
    
</header>
        @RenderBody()
</body>
</html>
