@model IEnumerable<LogisticSoftware.WebUI.Models.Entities.Supply>

@{
    ViewBag.Title = "Поставки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <header>
        <h2>Поставки</h2>

        <p>
            @Html.ActionLink("Додати поставку", "Create")
        </p>
    </header>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Target)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "Edit", new {id = item.SupplyId}) |
                    @Html.ActionLink("Переглянути", "Details", new {id = item.SupplyId}) |
                    @Html.ActionLink("Видалити", "Delete", new {id = item.SupplyId})
                </td>
            </tr>
        }

    </table>
</div>