@model IEnumerable<LogisticSoftware.WebUI.Models.Entities.Supply>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Target)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplyId })
        </td>
    </tr>
}

</table>
